{% extends 'user/auth-base.html' %}
{% block title %}注册{% endblock title %}

<!-- CSS -->
{% block css %}

{% endblock css %}

<!-- Main Content -->
{% block main %}
    <div class="text-center">
        <h4 class="font-size-18 mt-4">注册账号</h4>
        <p class="text-muted">获取您的 memOJi 账号.</p>
    </div>

    <div id="progrss-wizard" class="twitter-bs-wizard">
        <ul class="twitter-bs-wizard-nav nav-justified">
            <li class="nav-item">
                <a href="#progress-account-details" class="nav-link" data-toggle="tab">
                    <span class="step-number">01</span>
                    <span class="step-title">账号信息</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#progress-password-details" class="nav-link" data-toggle="tab">
                    <span class="step-number">02</span>
                    <span class="step-title">设置密码</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#progress-school-details" class="nav-link" data-toggle="tab">
                    <span class="step-number">03</span>
                    <span class="step-title">学校信息</span>
                </a>
            </li>
        </ul>

        <div id="bar" class="progress mt-4">
            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated"></div>
        </div>
        <form class="form-horizontal custom-validation" action="{% url 'user:auth-register' %}" method="POST" novalidate>
            {% csrf_token %}
            <div class="tab-content twitter-bs-wizard-tab-content">
                <div class="tab-pane" id="progress-account-details">
                    <div class="form-group auth-form-group-custom mb-4">
                        <i class="ri-shield-user-line auti-custom-input-icon"></i>
                        <label for="username">用户名</label>
                        <input type="text" class="form-control" id="username" name="username" data-parsley-error-message="请输入正确的用户名" placeholder="输入用户名" required>
                    </div>

                    <div class="form-group auth-form-group-custom mb-4">
                        <i class="ri-mail-line auti-custom-input-icon"></i>
                        <label for="useremail">邮箱</label>
                        <input type="email" class="form-control" id="useremail" name="email" data-parsley-error-message="请输入正确的电子邮箱地址" placeholder="输入邮箱" required>
                    </div>

                    <ul class="pager wizard twitter-bs-wizard-pager-link">
                        <!-- <li class="previous"><a href="#"> <<< </a></li> -->
                        <li class="next" type="submit"><a href="#"> >>> </a></li>
                    </ul>
                </div>
                <div class="tab-pane" id="progress-password-details">
                    <div class="form-group auth-form-group-custom mb-4">
                        <i class="ri-lock-2-line auti-custom-input-icon"></i>
                        <label for="password2">密码</label>
                        <input type="password" class="form-control" id="password1" name="password1" data-parsley-error-message="请输入密码" placeholder="输入密码" required>
                    </div>
                    <div class="form-group auth-form-group-custom mb-4">
                        <i class="ri-lock-2-line auti-custom-input-icon"></i>
                        <label for="password2">确认密码</label>
                        <input type="password" class="form-control" id="password2" name="password2" data-parsley-error-message="请输入相同的密码" placeholder="确认密码" data-parsley-equalto="#password1" required>
                    </div>

                    <ul class="pager wizard twitter-bs-wizard-pager-link">
                        <li class="previous"><a href="#"> <<< </a></li>
                        <li class="next" type="submit"><a href="#"> >>> </a></li>
                    </ul>
                </div>
                <div class="tab-pane" id="progress-school-details">
                    <div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="progress-basicpill-school-input">学校全称</label>
                                    <input type="text" class="form-control" id="progress-basicpill-school-input" name="school_name" data-parsley-error-message="请输入学校全称" placeholder="学校全称" value="西北工业大学" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="progress-basicpill-classno-input">班级编号</label>
                                    <input type="text" class="form-control" id="progress-basicpill-classno-input" name="class_id" placeholder="联系老师获取">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="progress-basicpill-fullname-input">真实姓名</label>
                                    <input type="text" class="form-control" id="progress-basicpill-fullname-input" name="full_name" data-parsley-error-message="请输入真实姓名" placeholder="Steve X" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group needs-validation">
                                    <label for="progress-basicpill-studno-input">学号</label>
                                    <input type="digits" data-parsley-type="digits" class="form-control" id="progress-basicpill-studno-input" name="internal_id" data-parsley-error-message="请输入学号" placeholder="2021000000" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="pager wizard twitter-bs-wizard-pager-link">
                        <div class="text-center">
                            <button class="btn btn-primary w-md waves-effect waves-light" type="submit">完成注册</button>
                        </div>
                    </ul>
                </div>
            </div>
        </form>
    </div>



    <div class="mt-5 text-center">
        <p>已有账号 ? <a href="{% url 'user:auth-login' %}" class="font-weight-medium text-primary"> 登录</a> </p>
    </div>
{% endblock main %}

<!-- JS -->
{% block js %}
    <!-- twitter-bootstrap-wizard js -->
    <script src="{% static 'libs/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js' %}"></script>
    <script src="{% static 'libs/twitter-bootstrap-wizard/prettify.js' %}"></script>

    <!-- form wizard init -->
    <script src="{% static 'js/pages/form-wizard.init.js' %}"></script>

    <!-- validation -->
    <script src="{% static 'libs/parsleyjs/parsley.min.js' %}"></script>
    <script src="{% static 'js/pages/form-validation.init.js' %}"></script>
{% endblock js %}
