{% extends 'base.html' %}
{% block title %}{{ classroom.class_name }} - 数据详情{% endblock title %}
{% block page_title %}{{ classroom.class_name }} - 数据详情{% endblock page_title %}

<!-- Breadcrumb -->
{% block breadcrumb %}
    <div class="page-title-right">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a href="javascript: void(0);">管理员</a></li>
            <li class="breadcrumb-item"><a href="{% url 'user:class-manage' %}">班级成绩数据</a></li>
            <li class="breadcrumb-item active"><a href="{% url 'user:class-details' classroom.class_id %}">详情</a></li>
        </ol>    
    </div>
{% endblock breadcrumb %}

<!-- CSS -->
{% block css %}
    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />  

    <!-- Form Advanced Styles -->
    <link href="{% static 'libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Plugins css -->
    <link href="{% static 'libs/dropzone/min/dropzone.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock css %}

<!-- Main Content -->
{% block main %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div>
                        <a href="{% url 'user:class-manage' %}" class="btn btn-primary mb-2"><i class="ri-arrow-left-line mr-2"></i>所有班级</a>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card" style="height: 100%;">
                                <div class="card-body">
                                    <h3 class="text-truncate"><a href="#" class="text-dark">{{ classroom.class_name }}</a></h3>
                                    <p class="text-muted">{{ classroom.school.school_abbr }}_{{ classroom.class_id }}</p>
                                    <p class="text-muted">
                                        <i class="mdi mdi-account mr-1"></i> {{ classroom.teacher }}
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- end card -->
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
<!-- 1)       序号、练习/考试名称、发布时间、截止时间
2)       实际开始人数、完成人数
3)       题目的平均完成率：例如共10道题，平均每人完成8道题
4)       题目的平均正确率：例如所有人的平均正确率 80% -->

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body  pt-0">
                    <div class="table-responsive" style="margin-top: 20px;">
                        <table class="table table-centered datatable dt-responsive nowrap " style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead class="thead-light">
                                <tr>
                                    <th>测试ID</th>
                                    <th>类型</th>
                                    <th>测试名称</th>
                                    <th>发布时间</th>
                                    <th>截止时间</th>
                                    <th>开始人数</th>
                                    <th>完成人数</th>
                                    <th>平均完成率</th>
                                    <th>平均正确率</th>
                                    <th>详情</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for exam in exam_list %}
                                <tr>
                                    <td>Exam-{{exam.exam_id}}</td>
                                    <td><div class="badge badge-soft-success font-size-12">考试</div></td>
                                    <td>{{exam.exam_name}}</td>
                                    <td>{{exam.start_time}}</td>
                                    <td>{{exam.end_time}}</td>
                                    <td>{{exam.start_cnt}}</td>
                                    <td>{{exam.finish_cnt}}</td>
                                    <td>{{exam.per_finish_rate}} %</td>
                                    <td>{{exam.per_acrate}} %</td>
                                    <td>
                                        <a href="{% url 'user:class-event' classroom.class_id 'exam'  exam.exam_id%}" class="mr-3 text-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="查看详情"><i class="mdi mdi-eye font-size-18"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% for exer in exer_list %}
                                <tr>
                                    <td>Exer-{{exer.exer_id}}</td>
                                    <td><div class="badge badge-soft-danger font-size-12">练习</div></td>
                                    <td>{{exer.exer_name}}</td>
                                    <td>{{exer.start_time}}</td>
                                    <td>{{exer.end_time}}</td>
                                    <td>{{exer.start_cnt}}</td>
                                    <td>{{exer.finish_cnt}}</td>
                                    <td>{{exer.per_finish_rate}} %</td>
                                    <td>{{exer.per_acrate}} %</td>
                                    <td>
                                        <a href="{% url 'user:class-event' classroom.class_id 'exer'  exer.exer_id%}" class="mr-3 text-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="查看详情"><i class="mdi mdi-eye font-size-18"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->

{% endblock main %}

<!-- JS -->
{% block js %}
    <!-- Form Validation -->
    <script src="{% static 'js/pages/form-validation.init.js' %}"></script>

    <!-- Required datatable js -->
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Responsive examples -->
    <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

    <!-- Form Advanced -->
    <script src="{% static 'libs/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'js/pages/form-advanced.init.js' %}"></script>

    <!-- Plugins js -->
    <script src="{% static 'libs/dropzone/min/dropzone.min.js' %}"></script>

    <!-- Custom Pages -->
    <script src="{% static 'js/custom-pages/class-details.js' %}"></script>
{% endblock js %}
