{% extends 'base.html' %}
{% block title %}班级管理{% endblock title %}
{% block page_title %}班级管理{% endblock page_title %}

<!-- Breadcrumb -->
{% block breadcrumb %}
    <div class="page-title-right">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a href="javascript: void(0);">管理员</a></li>
            <li class="breadcrumb-item active"><a href="{% url 'user:class-manage' %}">班级管理</a></li>
        </ol>
    </div>
{% endblock breadcrumb %}

<!-- CSS -->
{% block css %}
    <!-- Form Advanced Styles -->
    <link href="{% static 'libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Plugins css -->
    <link href="{% static 'libs/dropzone/min/dropzone.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock css %}

<!-- Main Content -->
{% block main %}
    <div style="margin-bottom: 20px;">
        <a href="" class="btn btn-success mb-2" data-toggle="modal" data-target="#new-classroom-modal"><i class="mdi mdi-plus mr-2"></i>创建班级</a>
    </div>


    <div class="row">
        {% for cls in class_list %}
            <div class="col-xl-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="{% static 'images/classroom.png' %}" alt="" class="avatar-sm mt-2 mb-4">
                            <div class="media-body">
                                <h5 class="text-truncate"><a href="#" class="text-dark">{{ cls.class_name }}</a></h5>
                                <p class="text-muted">{{ cls.school.school_abbr }}_{{cls.class_id}}</p>
                                {% if cls.class_desc %}
                                    <p class="text-muted">{{cls.class_desc}}</p>
                                {% else %}
                                    <p class="text-muted"><br></p>
                                {% endif %}
                                <p class="text-muted">
                                    <i class="mdi mdi-account mr-1"></i> {{ cls.teacher }}
                                </p>
                            </div>
                        </div>

                        <hr class="my-4">

                        <div class="row text-center">
                            <div class="col-12">
                                <p class="text-muted mb-2">人数</p>
                                <h5>{{cls.students_count}}</h5>
                            </div>
                        </div>
                        <div class="text-center"><a href="{% url 'user:class-details' cls.class_id %}" class="btn btn-primary mt-1 waves-effect waves-light">管理</a></div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
    <!-- end row -->

    <!-- Modal -->
    <div class="modal fade" id="new-classroom-modal" tabindex="-1" role="dialog" aria-labelledby="new-classroom-modalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="classroomTitle">创建班级</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" class="needs-validation" style="margin-bottom: 50px;" novalidate>
                        {% csrf_token %}
                        <div class="row">
                            {% for data in class_form %}
                                {% if data.name != 'class_desc' %}
                                    <div class="form-group mb-4 col-6">
                                        <label for="{{ data.id_for_label}} ">{{ data.label }}</label>
                                        <div>{{ data }}</div>
                                    </div>
                                {% else %}
                                    <div class="form-group mb-4 col-12">
                                        <label for="{{ data.id_for_label}} ">{{ data.label }}</label>
                                        <div>{{ data }}</div>
                                    </div>
                                {% endif %}
                            {% endfor %}

                        </div>

                        <div class="text-center mt-4" style="padding-top: 0px;">
                            <button type="submit" class="btn btn-primary waves-effect waves-light">保存修改</button>
                        </div>
                    </form>

                    <h4 class="card-title">批量导入题目</h4>
                    <p class="card-title-desc">在此上传 <code>.csv</code> 格式题目列表可批量导入题目。<br><br>
                        列表需包含以下字段: <br>
                        <code>stud_no</code>(学号)<br>
                        <code>stud_name</code>(姓名)<br>
                    </p>

                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <i class="mdi mdi-alert-outline mr-2"></i>
                        不按格式将无法解析列表。
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div>
                        <form action="#" class="dropzone" id="file-dropzone-CSV" method="POST" enctype="multipart/form-data">
                            <div class="fallback">
                                <input name="file" type="file" multiple="multiple">
                            </div>
                            <div class="dz-message needsclick">
                                <div class="mb-3">
                                    <i class="display-4 text-muted ri-upload-cloud-2-line"></i>
                                </div>

                                <h4>拖动文件至此或点击此处选择文件</h4>
                            </div>
                        </form>
                    </div>

                    <div class="text-center mt-4">
                        <button type="button" class="btn btn-primary waves-effect waves-light">上传文件</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">保存<i class="fab fa-telegram-plane ml-1"></i></button>
                </div>
            </div>
        </div>
    </div>


{% endblock main %}

<!-- JS -->
{% block js %}
    <!-- Form Validation -->
    <script src="{% static 'js/pages/form-validation.init.js' %}"></script>

    <!-- Plugins js -->
    <script src="{% static 'libs/dropzone/min/dropzone.min.js' %}"></script>

    <!-- Form Advanced -->
    <script src="{% static 'libs/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'js/pages/form-advanced.init.js' %}"></script>

    <!-- Custom Pages -->
    <script src="{% static 'js/custom-pages/class-manage.js' %}"></script>

{% endblock js %}
