{% extends 'base.html' %}
{% block title %}班级成绩数据{% endblock title %}
{% block page_title %}班级成绩数据{% endblock page_title %}

<!-- Breadcrumb -->
{% block breadcrumb %}
    <div class="page-title-right">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a href="javascript: void(0);">管理员</a></li>
            <li class="breadcrumb-item active"><a href="{% url 'user:class-manage' %}">班级成绩数据</a></li>
        </ol>
    </div>
{% endblock breadcrumb %}

<!-- CSS -->
{% block css %}
    <!-- Form Advanced Styles -->
    <link href="{% static 'libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Plugins css -->
    <link href="{% static 'libs/dropzone/min/dropzone.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock css %}

<!-- Main Content -->
{% block main %}
    <div class="row">
        {% for cls in class_list %}
            <div class="col-xl-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="{% static 'images/classroom.png' %}" alt="" class="avatar-sm mt-2 mb-4">
                            <div class="media-body">
                                <h5 class="text-truncate"><a href="#" class="text-dark">{{ cls.class_name }}</a></h5>
                                <p class="text-muted">{{ cls.school.school_abbr }}_{{cls.class_id}}</p>
                                {% if cls.class_desc %}
                                    <p class="text-muted">{{cls.class_desc}}</p>
                                {% else %}
                                    <p class="text-muted"><br></p>
                                {% endif %}
                                <p class="text-muted">
                                    <i class="mdi mdi-account mr-1"></i> {{ cls.teacher }}
                                </p>
                            </div>
                        </div>

                        <hr class="my-4">

                        <div class="row text-center">
                            <div class="col-12">
                                <p class="text-muted mb-2">人数</p>
                                <h5>{{cls.students_count}}</h5>
                            </div>
                        </div>
                        <div class="text-center"><a href="{% url 'user:class-details' cls.class_id %}" class="btn btn-primary mt-1 waves-effect waves-light">查看</a></div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
    <!-- end row -->




{% endblock main %}

<!-- JS -->
{% block js %}
    <!-- Form Validation -->
    <script src="{% static 'js/pages/form-validation.init.js' %}"></script>

    <!-- Plugins js -->
    <script src="{% static 'libs/dropzone/min/dropzone.min.js' %}"></script>

    <!-- Form Advanced -->
    <script src="{% static 'libs/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'js/pages/form-advanced.init.js' %}"></script>

    <!-- Custom Pages -->
    <script src="{% static 'js/custom-pages/class-manage.js' %}"></script>

{% endblock js %}
