{% extends 'base.html' %}
{% block title %}个人信息{% endblock title %}
{% block page_title %}个人信息{% endblock page_title %}

<!-- Breadcrumb -->
{% block breadcrumb %}
    <div class="page-title-right">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a href="javascript: void(0);">个人中心</a></li>
            <li class="breadcrumb-item active"><a href="{% url 'user:user-info' %}">个人信息</a></li>
        </ol>
    </div>
{% endblock breadcrumb %}

<!-- CSS -->
{% block css %}
    <!-- Form Advanced Styles -->
    <link href="{% static 'libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />

{% endblock css %}

<!-- Main Content -->
{% block main %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card border border-{{ join_status_color }}">
                <div class="card-header bg-transparent border-success">
                    <h5 class="my-0 text-{{ join_status_color }}">
                        {% if join_status %}
                            <i class="mdi mdi-check-decagram mr-3"></i>
                        {% else  %}
                            <i class="mdi mdi-alert-decagram mr-3"></i>
                        {% endif %}
                        {{ priority }}{{ join_status_display }}
                    </h5>
                </div>
                <h1 class="card-header mt-0">{{ full_name }}</h1>
                <h7 class="card-header mt-0">
                    @{{ username }}<br>
                    {{ email }}
                </h7>
                <div class="card-body">
                    <!-- <h2><i class="mdi mdi-account mr-3"></i></h2> -->
                    <h3 class="card-title mt-0">{{ school }} {{ college_name }}</h3>
                    <h3 class="card-title mt-0"></h3>
                    <h3 class="card-title mt-0">{{ internal_id }}</h3>
                    {% if classroom %}
                    <h3 class="card-title mt-0">{{ classroom }} (班级ID  {{ classroom.class_id }}, 教师 {{ classroom.teacher }})</h3>
                    {% endif %}
                </div>
            </div>

        </div>

    </div>

{% endblock main %}

<!-- JS -->
{% block js %}
    <!-- Form Validation -->
    <script src="{% static 'js/pages/form-validation.init.js' %}"></script>

    <!-- Form Advanced -->
    <script src="{% static 'libs/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'js/pages/form-advanced.init.js' %}"></script>

{% endblock js %}
