<!doctype html>
<html lang="zh-CN">

    <head>
        
        <meta charset="utf-8" />
        <title>{% block title %}根模版{% endblock title %} | memOJi - 数据库在线实验平台</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Themesdesign" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

        <!-- Page or Custom CSS -->
        {% block css %}{% endblock css %}

        <!-- Bootstrap Css -->
        <link href="{% static 'css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />

        <!-- Icons Css -->
        <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />

        <!-- App Css-->
        <link href="{% static 'css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />


    </head>

    <body data-sidebar="dark">

        <!-- Begin page -->
        <div id="layout-wrapper">

            <header id="page-topbar">
                <div class="navbar-header">
                    <div class="d-flex">
                        <!-- LOGO -->
                        <div class="navbar-brand-box">
                            <a href="{% url 'user:index' %}" class="logo logo-dark">
                                <span class="logo-sm">
                                    <img src="{% static 'images/logo-sm-dark.png' %}" alt="" height="22">
                                </span>
                                <span class="logo-lg">
                                    <img src="{% static 'images/logo-dark.png' %}" alt="" height="20">
                                </span>
                            </a>

                            <a href="{% url 'user:index' %}" class="logo logo-light">
                                <span class="logo-sm">
                                    <img src="{% static 'images/logo-sm-light.png' %}" alt="" height="22">
                                </span>
                                <span class="logo-lg">
                                    <img src="{% static 'images/logo-light.png' %}" alt="" height="20">
                                </span>
                            </a>
                        </div>

                        <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect" id="vertical-menu-btn">
                            <i class="ri-menu-2-line align-middle"></i>
                        </button>

                        <!-- App Search-->
                        <!-- <form class="app-search d-none d-lg-block">
                            <div class="position-relative">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="ri-search-line"></span>
                            </div>
                        </form> -->

                    </div>

                    <div class="d-flex">

                        <div class="dropdown d-inline-block d-lg-none ml-2">
                            <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-search-dropdown"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ri-search-line"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0"
                                aria-labelledby="page-header-search-dropdown">
                    
                                <form class="p-3">
                                    <div class="form-group m-0">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search ...">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="submit"><i class="ri-search-line"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        {% comment %} <div class="dropdown d-none d-sm-inline-block">
                            <button type="button" class="btn header-item waves-effect"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="" src="{% static 'images/flags/us.jpg' %}" alt="Header Language" height="16">
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                    
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <img src="{% static 'images/flags/spain.jpg' %}" alt="user-image" class="mr-1" height="12"> <span class="align-middle">Spanish</span>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <img src="{% static 'images/flags/germany.jpg' %}" alt="user-image" class="mr-1" height="12"> <span class="align-middle">German</span>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <img src="{% static 'images/flags/italy.jpg' %}" alt="user-image" class="mr-1" height="12"> <span class="align-middle">Italian</span>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <img src="{% static 'images/flags/russia.jpg' %}" alt="user-image" class="mr-1" height="12"> <span class="align-middle">Russian</span>
                                </a>
                            </div>
                        </div>  {% endcomment %}
                        <!-- Languages -->


                        <div class="dropdown d-none d-lg-inline-block ml-1">
                            <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen">
                                <i class="ri-fullscreen-line"></i>
                            </button>
                        </div>



                        <div class="dropdown d-inline-block user-dropdown">
                            {% if user.is_authenticated %}
                                <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img class="rounded-circle header-profile-user" src="{% static 'images/users/avatar-2.jpg' %}"
                                        alt="Header Avatar">
                                    {% if user.full_name %}
                                        <span class="d-none d-xl-inline-block ml-1">{{ user.full_name }}</span>
                                    {% else %}
                                        <span class="d-none d-xl-inline-block ml-1">{{ user.username }}</span>
                                    {% endif %}
                                    <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <!-- item-->
                                    <a class="dropdown-item" href="#"><i class="ri-user-line align-middle mr-1"></i> Profile</a>
                                    <a class="dropdown-item" href="#"><i class="ri-wallet-2-line align-middle mr-1"></i> My Wallet</a>
                                    <a class="dropdown-item d-block" href="#"><span class="badge badge-success float-right mt-1">11</span><i class="ri-settings-2-line align-middle mr-1"></i> Settings</a>
                                    <a class="dropdown-item" href="#"><i class="ri-lock-unlock-line align-middle mr-1"></i> Lock screen</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-danger" href="{% url 'user:auth-logout' %}"><i class="ri-shut-down-line align-middle mr-1 text-danger"></i> Logout</a>
                                </div>
                            {% else %}
                                <span class="d-none d-xl-inline-block ml-1">
                                    <a href="{% url 'user:auth-login' %}">
                                        <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                                            aria-haspopup="true" aria-expanded="false">未登录, 请登录
                                        </button>
                                    </a>
                                </span>
                            {% endif %}
                        </div>

                        <div class="dropdown d-inline-block">
                            <button type="button" class="btn header-item noti-icon right-bar-toggle waves-effect">
                                <i class="ri-settings-2-line"></i>
                            </button>
                        </div>
            
                    </div>
                </div>
            </header>

            <!-- ========== Left Sidebar Start ========== -->
            <div class="vertical-menu">

                <div data-simplebar class="h-100">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu list-unstyled" id="side-menu">
                            <li class="menu-title">个人中心</li>

                            <li>
                                <a href="{% url 'user:index' %}" class="waves-effect">
                                    <i class="ri-dashboard-line"></i>
                                    <span>仪表板</span>
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'calendar:calendar' %}" class=" waves-effect">
                                    <i class="ri-calendar-2-line"></i>
                                    <span>日历</span>
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'coding:coding' %}" class=" waves-effect">
                                    <i class="ri-terminal-box-line"></i>
                                    <span>答题</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'user:user-info' %}" class=" waves-effect">
                                    <i class="ri-account-circle-line"></i>
                                    <span>个人信息</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'coding:statistics' %}" class=" waves-effect">
                                    <i class="ri-line-chart-line"></i>
                                    <span>统计数据</span>
                                </a>
                            </li>

                            <li class="menu-title">管理员</li>
                            <li>
                                <a href="{% url 'user:class-manage' %}" class=" waves-effect">
                                    <i class="ri-team-line"></i>
                                    <span>班级管理</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'coding:questions-manage' %}" class=" waves-effect">
                                    <i class="ri-file-text-line"></i>
                                    <span>题库 & 试卷管理</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'coding:exams-manage' %}" class=" waves-effect">
                                    <i class="ri-check-double-line"></i>
                                    <span>练习 & 考试管理</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="ri-account-circle-line"></i>
                                    <span>账号设置</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="{% url 'user:auth-login' %}">登录</a></li>
                                    <li><a href="{% url 'user:auth-register' %}">注册</a></li>
                                    <li><a href="{% url 'user:auth-recoverpw' %}">找回密码</a></li>
                                    <li><a href="{% url 'user:auth-status' %}">登录状态</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- Sidebar -->
                </div>
            </div>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                    <h4 class="mb-0">{% block page_title %}根模版{% endblock page_title %}</h4>
                                    {% block breadcrumb %}
                                        <div class="page-title-right">
                                            <ol class="breadcrumb m-0">
                                                <li class="breadcrumb-item"><a href="javascript: void(0);">模版</a></li>
                                                <li class="breadcrumb-item active">根模版</li>
                                            </ol>
                                        </div>
                                    {% endblock breadcrumb %}


                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        {% block main %} {% endblock main %}
                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <script>document.write(new Date().getFullYear())</script> © NWPU memOJi.
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-right d-none d-sm-block">
                                    <!-- Designed with <i class="mdi mdi-heart text-danger"></i> by Themesdesign and developed by <a href="https://github.com/Steve-Xyh/" class="font-weight-medium text-primary"> Steve X Software.</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->

        <!-- Right Sidebar -->
        <div class="right-bar">
            <div data-simplebar class="h-100">
                <div class="rightbar-title px-3 py-4">
                    <a href="javascript:void(0);" class="right-bar-toggle float-right">
                        <i class="mdi mdi-close noti-icon"></i>
                    </a>
                    <h5 class="m-0">样式设置</h5>
                </div>

                <!-- Settings -->
                <hr class="mt-0" />
                <h6 class="text-center mb-0">选择网页样式</h6>

                <div class="p-4">
                    <div class="mb-2">
                        <img src="{% static 'images/layouts/layout-1.jpg' %}" class="img-fluid img-thumbnail" alt="">
                    </div>
                    <div class="custom-control custom-switch mb-3">
                        <input type="checkbox" class="custom-control-input theme-choice" id="light-mode-switch" checked />
                        <label class="custom-control-label" for="light-mode-switch">明亮模式</label>
                    </div>

                    <div class="mb-2">
                        <img src="{% static 'images/layouts/layout-2.jpg' %}" class="img-fluid img-thumbnail" alt="">
                    </div>
                    <div class="custom-control custom-switch mb-3">
                        <input type="checkbox" class="custom-control-input theme-choice" id="dark-mode-switch" data-bsStyle="{% static 'css/bootstrap-dark.min.css' %}" data-appStyle="{% static 'css/app-dark.min.css' %}" />
                        <label class="custom-control-label" for="dark-mode-switch">黑暗模式</label>
                    </div>

                </div>

            </div> <!-- end slimscroll-menu-->
        </div>
        <!-- /Right-bar -->

        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>

        <!-- JAVASCRIPT -->
        <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
        <!-- <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->

        <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <!-- <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script> -->

        <script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
        <!-- <script src="https://cdn.bootcdn.net/ajax/libs/metisMenu/3.0.6/metisMenu.min.js"></script> -->

        <script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
        <!-- <script src="https://cdn.bootcdn.net/ajax/libs/simplebar/5.3.0/simplebar.min.js"></script> -->

        <script src="{% static 'libs/node-waves/waves.min.js' %}"></script>
        <!-- <script src="https://cdn.bootcdn.net/ajax/libs/node-waves/0.7.6/waves.min.js"></script> -->

        <!-- Page or Custom JS -->
        {% block js %}{% endblock js %}

        <!-- Local JS -->
        <script src="{% static 'js/app.js' %}"></script>

    </body>
</html>
