{% extends 'base.html' %}
{% block title %}答题{% endblock title %}
{% block page_title %}答题{% endblock page_title %}

<!-- Breadcrumb -->
{% block breadcrumb %}
    <div class="page-title-right">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a href="javascript: void(0);">个人中心</a></li>
            <li class="breadcrumb-item active"><a href="">答题</a></li>
        </ol>
    </div>
{% endblock breadcrumb %}

<!-- CSS -->
{% block css %}

{% endblock css %}

<!-- Main Content -->
{% block main %}
    <h1>下一场考试</h1>
    <div class="row">
        <div class="col-8">
            <div class="card task-box">
                <div class="progress progress-sm animated-progess" style="height: 3px;">
                    <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="card-body">

                    <div class="float-right ml-2">
                        <div>
                            开始: {{ next_exam.start_time }} <br> 结束: {{ next_exam.end_time }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <a href="#" class="">#EXAM{{ next_exam.exam_id }}</a>
                    </div>
                    <div>
                        <h5 class="font-size-16"><a href="javascript: void(0);" class="text-dark">{{ next_exam.exam_name }}</a></h5>
                        <p class="mb-4">
                            {{ next_exam.desc }}
                        </p>
                    </div>

                    <div class="d-inline-flex team mb-0">
                        <div class="mr-3 align-self-center">
                            发起人 :
                        </div>
                        <div class="team-member">
                            <a href="javascript: void(0);" class="team-member d-inline-block" data-toggle="tooltip" data-placement="top" title="Calvin Redrick">
                                <img src="{% static 'images/users/avatar-3.jpg' %}" class="rounded-circle avatar-xs" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="float-right"><a href="{% url 'coding:coding-editor' 'exam' next_exam.exam_id 1 %}" class="btn btn-primary mt-1 waves-effect waves-light"><i class="mdi mdi-arrow-left mr-3"></i>进入</a></div>

                </div>
            </div>
        </div>

    </div>
    <!-- end row -->
    <div class="row">
        <div class="col-lg-6">
            <div class="card-body">
                <button type="button" class="btn btn-outline-danger waves-effect waves-light">
                    <i class="ri-check-line align-middle mr-2"></i>
                    <strong>考试</strong>
                </button>

            </div>
                <div class="card-body border-bottom">
                    <div id="todo-task" class="task-list">
                        {% for exam in exams_list %}
                            <div class="card task-box">
                                <div class="progress progress-sm animated-progess" style="height: 3px;">
                                    <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="card-body">

                                    <div class="float-right ml-2">
                                        <div>
                                            开始: {{ exam.start_time }} <br> 结束: {{ exam.end_time }}
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <a href="{% url 'coding:coding-editor' 'exam' exam.exam_id 1 %}" class="">#EXAM{{ exam.exam_id }}</a>
                                    </div>
                                    <div>
                                        <h5 class="font-size-16"><a href="{% url 'coding:coding-editor' 'exam' exam.exam_id 1 %}" class="text-dark">{{ exam.exam_name }}</a></h5>
                                        <p class="mb-4">{{ exam.desc }}</p>
                                    </div>

                                    <div class="d-inline-flex team mb-0">
                                        <div class="mr-3 align-self-center">
                                            发起人 :
                                        </div>
                                        <div class="team-member">
                                            <a href="javascript: void(0);" class="team-member d-inline-block" data-toggle="tooltip" data-placement="top" title="Calvin Redrick">
                                                <img src="{% static 'images/users/avatar-3.jpg' %}" class="rounded-circle avatar-xs" alt="">
                                            </a>
                                        </div>

                                    </div>
                                    <div class="float-right"><a href="{% url 'coding:coding' %}" class="btn btn-danger mt-1 waves-effect waves-light"><i class="mdi mdi-alert-octagon mr-3"></i>已结束</a></div>
                                    <div class="float-right"><a href="{% url 'coding:coding' %}" class="btn btn-success mt-1 waves-effect waves-light"><i class="mdi mdi-check-decagram mr-3"></i>已完成</a></div>
                                    <div class="float-right"><a href="{% url 'coding:coding-editor' 'exam' exam.exam_id 1 %}" class="btn btn-primary mt-1 waves-effect waves-light"><i class="mdi mdi-arrow-left mr-3"></i>进入</a></div>

                                </div>
                            </div>
                            <!-- end task card -->
                        {% endfor %}

                    </div>
                    
                </div>
            <!-- </div> -->
        </div>
        
        <div class="col-lg-6">
            <div class="card-body">
                <button type="button" class="btn btn-outline-primary waves-effect waves-light">
                    <i class="ri-check-line align-middle mr-2"></i>
                    <strong>练习</strong>
                </button>

            </div>
                <div class="card-body border-bottom">
                    <div id="inprogress-task" class="task-list">
                        {% for exer in exer_list %}
                            <div class="card task-box">
                                <div class="progress progress-sm animated-progess" style="height: 3px;">
                                    <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="card-body">

                                    <div class="float-right ml-2">
                                        <div>
                                            {% comment %} 2021年4月17日 <br> 10:30-12:30 {% endcomment %}
                                            发布于: {{ exer.publish_time }}
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <a href="{% url 'coding:coding-editor' 'exer' exer.exer_id 1 %}" class="">#EXER{{ exer.exer_id }}</a>
                                    </div>
                                    <div>
                                        <h5 class="font-size-16"><a href="{% url 'coding:coding-editor' 'exer' exer.exer_id 1 %}" class="text-dark">{{ exer.exer_name }}</a></h5>
                                        <p class="mb-4">{{ exer.desc }}</p>
                                    </div>

                                    <div class="d-inline-flex team mb-0">
                                        <div class="mr-3 align-self-center">
                                            发起人 :
                                        </div>
                                        <div class="team-member">
                                            
                                            <a href="javascript: void(0);" class="team-member d-inline-block" data-toggle="tooltip" data-placement="top" title="David Martinez">
                                                {{ exer.exer_name }}
                                            </a>
                                        </div>
                                    </div>
                                    <div class="float-right"><a href="{% url 'coding:coding-editor' 'exer' exer.exer_id 1 %}" class="btn btn-primary mt-1 waves-effect waves-light"><i class="mdi mdi-arrow-left mr-3"></i>进入</a></div>

                                </div>
                            </div>
                            <!-- end task card -->
                        {% endfor %}

                    </div>
                    
                </div>
            <!-- </div> -->
        </div>
    </div>
    <!-- end row -->
{% endblock main %}

<!-- JS -->
{% block js %}

{% endblock js %}
