{% extends 'base.html' %}
{% block title %}编辑器{% endblock title %}
{% block page_title %}编辑器{% endblock page_title %}

<!-- Breadcrumb -->
{% block breadcrumb %}
    <div class="page-title-right">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a href="javascript: void(0);">个人中心</a></li>
            <li class="breadcrumb-item"><a href="{% url 'coding:coding' %}">答题</a></li>
            <li class="breadcrumb-item active"><a href="">编辑器</a></li>
        </ol>
    </div>
{% endblock breadcrumb %}

<!-- CSS -->
{% block css %}
    <!-- Plugins css -->
    <link href="{% static 'libs/monaco-editor/min/vs/editor/editor.main.css' %}" rel="stylesheet" type="text/css" />

{% endblock css %}

<!-- Main Content -->
{% block main %}
    <!-- Monaco Editor -->
    <div class="card">
        <div class="card-body">
            <h3>{{ event_name }}</h3>
            <h4 class="card-title">{{ question }}
                {% if question.ques_difficulty == -1 %}
                    <div class="badge badge-soft-info font-size-12">{{ question.get_ques_difficulty_display }}</div>
                {% endif %}
                {% if question.ques_difficulty == 0 %}
                    <div class="badge badge-soft-success font-size-12">{{ question.get_ques_difficulty_display }}</div>
                {% endif %}
                {% if question.ques_difficulty == 1 %}
                    <div class="badge badge-soft-warning font-size-12">{{ question.get_ques_difficulty_display }}</div>
                {% endif %}
                {% if question.ques_difficulty == 2 %}
                    <div class="badge badge-soft-danger font-size-12">{{ question.get_ques_difficulty_display }}</div>
                {% endif %}
            </h4>

            <div class="row">
                <div class="col-6">
                    <div class="card border border-{{ ans_status_color }}">
                        <div class="card-header bg-transparent border-success">
                            <h4 class="card-title my-0 text-{{ ans_status_color }}">
                                {% if correct %}
                                    <i class="mdi mdi-check-decagram mr-3"></i>
                                    Accepted
                                {% endif %}
                                {% if correct is False %}
                                    <i class="mdi mdi-alert-decagram mr-3"></i>
                                    Wrong Answer
                                {% endif %}
                                {% if correct is None %}
                                    题目信息
                                {% endif %}
                            </h4>
                        </div>

                        <div class="card-body pre-scrollable" style="min-height: 367px;">
                            <h4 class="card-title">题目要求</h4>
                            {{ question.ques_desc }}
                            <p class="card-title-desc">
                                <h4 class="card-title">数据库结构</h4>
                                <pre><code>{{ db_desc }}</code></pre>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="card">
                        <div class="card-header bg-transparent border-success">
                            <h4 class="card-title">MySQL 编辑器</h4>
                            <h7 class="card-title-desc">在此区域作答</h7>
                        </div>

                        <div class="card-body">
                            <form method="POST" id="code-editor" action="{% url 'coding:coding-editor' 'exam' 1 1 %}">
                                {% csrf_token %}

                                <div id="container" style="width: 100%; min-height: 300px;"></div>

                                <script>
                                    var require = { paths: { vs: "{% static 'libs/monaco-editor/min/vs' %}"} };
                                </script>
                                <script src="{% static 'libs/monaco-editor/min/vs/loader.js' %}"></script>
                                <script src="{% static 'libs/monaco-editor/min/vs/editor/editor.main.nls.js' %}"></script>
                                <script src="{% static 'libs/monaco-editor/min/vs/editor/editor.main.js' %}"></script>

                                <script>
                                    var editor = monaco.editor.create(document.getElementById('container'), {
                                        value: [
                                            // '# Write your MySQL statement here.',
                                            '', ''
                                        ].join('\n'),
                                        language: 'mysql',
                                    });

                                    function setupFormPost() {
                                        var value = window.editor.getValue()
                                        $("#code").val(value);
                                    }
                                </script>


                                <input hidden name="submit_ans" id="code" />
                            </form>

                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <button type="previous" class="btn btn-outline-primary waves-effect waves-light" style="float: left;">
                        <i class="ri-arrow-left-s-line align-middle"></i>
                        上一题
                    </button>
                    <button type="next" class="btn btn-outline-primary waves-effect waves-light" style="float: right;">
                        下一题
                        <i class="ri-arrow-right-s-line align-middle"></i>
                    </button>
                </div>
                <div class="col-6">
                    <button type="submit" class="btn btn-success waves-effect waves-light" onclick="setupFormPost()" form="code-editor" style="float: right;">
                        <i class="ri-play-line align-middle mr-2"></i>提交运行
                    </button>
                </div>

            </div>
        </div>
    </div>

{% endblock main %}

<!-- JS -->
{% block js %}

{% endblock js %}
