{% extends 'base.html' %}
{% block title %}编辑器{% endblock title %}
{% block page_title %}编辑器{% endblock page_title %}

<!-- Breadcrumb -->
{% block breadcrumb %}
    <div class="page-title-right">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a href="javascript: void(0);">个人中心</a></li>
            <li class="breadcrumb-item"><a href="{% url 'coding:coding' %}">答题</a></li>
            <li class="breadcrumb-item active"><a href="">编辑器</a></li>
        </ol>
    </div>
{% endblock breadcrumb %}

<!-- CSS -->
{% block css %}
    <!-- Plugins css -->
    <link href="{% static 'libs/monaco-editor/min/vs/editor/editor.main.css' %}" rel="stylesheet" type="text/css" />

{% endblock css %}

<!-- Main Content -->
{% block main %}
    <!-- Monaco Editor -->
    <div class="card">
        <div class="card-body">
            <h3>{{ event_name }}</h3>
            <h4 class="card-title">{{ question }}
                {% if question.ques_difficulty == -1 %}
                    <div class="badge badge-soft-info font-size-12">{{ question.get_ques_difficulty_display }}</div>
                {% endif %}
                {% if question.ques_difficulty == 0 %}
                    <div class="badge badge-soft-success font-size-12">{{ question.get_ques_difficulty_display }}</div>
                {% endif %}
                {% if question.ques_difficulty == 1 %}
                    <div class="badge badge-soft-warning font-size-12">{{ question.get_ques_difficulty_display }}</div>
                {% endif %}
                {% if question.ques_difficulty == 2 %}
                    <div class="badge badge-soft-danger font-size-12">{{ question.get_ques_difficulty_display }}</div>
                {% endif %}
                <div class="badge badge-soft-info font-size-12">{{paperquestion.score}}分</div>
            </h4>

            <div class="row">
                <div class="col-6">
                    <div class="card border">
                        <div class="card-header bg-transparent border-success">
                            <h4 class="card-title my-0">题目信息</h4>
                        </div>

                        <div class="card-body pre-scrollable" style="min-height: 385px;">
                            <h4 class="card-title">题目要求</h4>
                            {{ question.ques_desc | linebreaks }}
                            <p class="card-title-desc">
                                <h4 class="card-title">数据库结构</h4>
                                <pre>{{ qset_desc }}</pre>
                                <pre><code>{{ db_desc }}</code></pre>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="card border border-{{ ans_status_color }}">
                        <div class="card-header bg-transparent border-success">
                            <h4 class="card-title my-0 text-{{ ans_status_color }}">
                                {% if correct is True %}
                                    <i class="mdi mdi-check-all mr-3"></i>
                                    Accepted
                                {% endif %}
                                {% if correct is False %}
                                    <i class="mdi mdi-close-thick mr-3"></i>
                                    Wrong Answer
                                {% endif %}
                                {% if correct == 'error' %}
                                    <i class="mdi mdi-alert-outline mr-3"></i>
                                    Runtime Error
                                    <text>
                                        <br />
                                        {{error_info}}
                                    </text>
                                {% endif %}
                                {% if correct == 'pending' %}
                                    <i class="mdi mdi-alert-outline mr-3"></i>
                                    Pending 正在判题，请稍后刷新
                                {% endif %}
                                {% if correct is None %}
                                    MySQL 编辑器
                                {% endif %}
                            </h4>
                        </div>

                        <div class="card-header bg-transparent border-success">
                            <h7 class="card-title-desc">在此区域作答</h7>
                        </div>
                        <div class="card-body">
                            <form method="POST" id="code-editor" action="{% url 'coding:coding-editor' event_type event_id question.ques_id %}">
                                {% if correct == 'pending' %}
                                {% else %}
                                {% csrf_token %}
                                {% endif %}
                                <div class="card border" id="container" style="width: 100%; min-height: 300px; margin-bottom: 0px;"></div>
                                <input hidden name="submit_ans" id="code" />
                            </form>

                        </div>

                    </div>
                </div>
                <div class="col-6">
                    {% if prev_question %}
                        <a href="{% url 'coding:coding-editor' event_type event_id prev_question.ques_id %}">
                            <button type="previous" class="btn btn-outline-primary waves-effect waves-light" style="float: left;">
                                <i class="ri-arrow-left-s-line align-middle"></i>
                                上一题
                            </button>
                        </a>
                    {% endif %}
                    {% if next_question %}
                        <a href="{% url 'coding:coding-editor' event_type event_id next_question.ques_id %}">
                            <button type="next" class="btn btn-outline-primary waves-effect waves-light" style="float: right;">
                                下一题
                                <i class="ri-arrow-right-s-line align-middle"></i>
                            </button>
                        </a>
                    {% else %}
                        <form method="POST" id="code-submit" action="{% url 'coding:coding-editor' event_type event_id question.ques_id %}">
                            {% csrf_token %}
                            <input type="hidden" name="movement" value="submit">
                        </form>
                        <button type="next" class="btn btn-outline-danger waves-effect waves-light" form="code-submit" style="float: right;">
                            {% if event_type == 'exam' %}
                                交卷
                            {% else %}
                                计算成绩
                            {% endif %}
                            <i class="ri-check-line align-middle mr-2"></i>
                        </button>
                    {% endif %}
                </div>
                {% if correct == 'pending' %}
                <div class="col-6">
                    <button type="submit" class="btn btn-success waves-effect waves-light" onclick="javascript:location.reload();" style="float: right;">
                        <i class="ri-refresh-line align-middle mr-2"></i>刷新状态
                    </button>
                </div>
                {% else %}
                <div class="col-6">
                    <button type="submit" class="btn btn-success waves-effect waves-light" onclick="setupFormPost()" form="code-editor" style="float: right;">
                        <i class="ri-play-line align-middle mr-2"></i>提交运行
                    </button>
                </div>
                {% endif %}


            </div>
        </div>
    </div>

{% endblock main %}

<!-- JS -->
{% block js %}
    <script>
        var require = { paths: { vs: "{% static 'libs/monaco-editor/min/vs' %}"} };
    </script>

    <script src="{% static 'libs/monaco-editor/min/vs/loader.js' %}"></script>
    <script src="{% static 'libs/monaco-editor/min/vs/editor/editor.main.nls.js' %}"></script>
    <script src="{% static 'libs/monaco-editor/min/vs/editor/editor.main.js' %}"></script>

    <script>
        function htmlUnescape(html) {
            return html.replace(/&lt;|&gt;|&quot;|&#x27;|&amp;/g, match => {
                switch(match) {
                    case '&lt;':
                        return '<';
                    case '&gt;':
                        return '>';
                    case '&quot;':
                        return '"';
                    case '&#x27;':
                        return "'";
                    case '&amp;':
                        return '&';
                }
            })
        }
       
        var editor = monaco.editor.create(document.getElementById('container'), {
            value: htmlUnescape("{{submit_ans}}"),
            language: 'mysql',
        });

        function setupFormPost() {
            var value = window.editor.getValue()
            $("#code").val(value);
        }
    </script>
{% endblock js %}
